Repository IAmJonoBo/Hotpass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-eng, @docs-team, @security-team

.github/CODEOWNERS:

# Default owners
* @platform-eng

# Docs
/docs/ @docs-team

# Security + supply-chain
SECURITY.md @security-team
policy/ @security-team
scripts/supply_chain/ @security-team

# Workflows
.github/workflows/ @platform-eng
.github/labeler.yml @platform-eng
.github/release-drafter.yml @platform-eng
renovate.json @platform-eng

fix(pipeline): harden ingestion inputs with property tests
  Next_Steps.md
  ROADMAP.md
  docs/roadmap.md
  pyproject.toml
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass.egg-info/requires.txt
  src/hotpass/pipeline/ingestion.py
  tests/property/test_ingestion_properties.py
  uv.lock
Owners: @platform-eng, @docs-team

fix: restore pytest gate for prefect deploy overrides
  Next_Steps.md
  docs/reference/cli.md
  src/hotpass/cli/commands/deploy.py
  src/hotpass/prefect/deployments.py
  tests/test_deployment_specs.py
Owners: @platform-eng, @docs-team

test: cover prefect deploy cli and marquez stack
  Next_Steps.md
  ROADMAP.md
  docs/roadmap.md
  tests/cli/test_deploy_command.py
  tests/infrastructure/test_marquez_stack.py
  tests/test_lineage.py
  tests/test_orchestration.py
Owners: @platform-eng, @docs-team

feat: harden ARC identity verification
  .github/workflows/arc-ephemeral-runner.yml
  Next_Steps.md
  ROADMAP.md
  docs/how-to-guides/manage-arc-runners.md
  pyproject.toml
  scripts/arc/verify_runner_lifecycle.py
  src/hotpass.egg-info/requires.txt
  tests/scripts/test_arc_runner_verifier.py
  uv.lock
Owners: @platform-eng, @docs-team

fix: stabilise formatting and ingestion property suites
  Next_Steps.md
  src/hotpass/formatting.py
  src/hotpass/pipeline/ingestion.py
  tests/property/test_ingestion_properties.py
Owners: @platform-eng

test: add modular pipeline stage regression fixtures
  Next_Steps.md
  tests/cli/fixtures/progress_high_volume.json
  tests/cli/test_progress.py
  tests/pipeline/fixtures/__init__.py
  tests/pipeline/fixtures/stage_inputs.py
  tests/pipeline/test_stage_execution.py
Owners: @platform-eng

fix: resolve lint regressions in lineage suites
  Next_Steps.md
  src/hotpass/prefect/__init__.py
  tests/cli/test_deploy_command.py
  tests/cli/test_run_lineage_integration.py
  tests/data_sources/test_acquisition_agents.py
  tests/fixtures/lineage.py
  tests/test_lineage.py
  tests/test_orchestration_lineage.py
Owners: @platform-eng

refactor(ml): normalize mlflow metadata handling
  Next_Steps.md
  Next_Steps_Log.md
  pyproject.toml
  src/hotpass/ml/tracking.py
  tests/data_sources/test_agent_tasks_execution.py
  tests/ml/test_tracking_stubbed.py
  tests/test_benchmarks_unit.py
  tests/test_pipeline_enhancements_exports.py
Owners: @platform-eng

refactor: harden orchestration concurrency helper
  Next_Steps.md
  pyproject.toml
  src/hotpass/orchestration.py
  tests/test_orchestration.py
Owners: @platform-eng

test: extend orchestration concurrency coverage
  Makefile
  Next_Steps.md
  pyproject.toml
  src/hotpass/pipeline/orchestrator.py
  tests/test_orchestration.py
Owners: @platform-eng

fix: restore parquet export compatibility
  Next_Steps.md
  pyproject.toml
  src/hotpass/formatting.py
  tests/test_orchestration.py
  uv.lock
Owners: @platform-eng

chore: tighten telemetry typing and orchestration tests
  Next_Steps.md
  pyproject.toml
  src/hotpass/telemetry/bootstrap.py
  src/hotpass/telemetry/registry.py
  tests/test_orchestration.py
  tests/test_telemetry_bootstrap.py
Owners: @platform-eng

refactor: replace assertions with expect helper in tests
  infra/arc/runner-scale-set.yaml
  tests/domain/test_party_model.py
  tests/helpers/assertions.py
  tests/test_cli_enhanced.py
  tests/test_column_mapping.py
  tests/test_config.py
  tests/test_dashboard.py
  tests/test_enhancements.py
  tests/test_enrichment_validators.py
  tests/test_entity_resolution.py
  tests/test_observability.py
  tests/test_scancode_policy.py
Owners: @platform-eng

Refactor tasks in Next_Steps.md for clarity
  Next_Steps.md
Owners: @platform-eng

fix(ml): normalise mlflow metadata casting
  Next_Steps.md
  src/hotpass/lineage.py
  src/hotpass/ml/tracking.py
Owners: @platform-eng

test: replace placeholder suites with real coverage
  Next_Steps.md
  tests/test_column_mapping.py
  tests/test_config.py
  tests/test_dashboard.py
  tests/test_enhancements.py
  tests/test_enrichment_validators.py
  tests/test_entity_resolution.py
  tests/test_observability.py
Owners: @platform-eng

test: strengthen dashboard accessibility harness
  Next_Steps.md
  tests/accessibility/test_dashboard_accessibility.py
Owners: @platform-eng

refactor(cli): harden progress context typing
  Next_Steps.md
  src/hotpass/cli/__init__.py
  src/hotpass/cli/main.py
  src/hotpass/cli/progress.py
  src/hotpass/cli/shared.py
  tests/cli/test_progress.py
Owners: @platform-eng

test: enable dashboard accessibility and compliance suites
  Next_Steps.md
  pyproject.toml
  tests/test_scancode_policy.py
  uv.lock
Owners: @platform-eng

docs: update documentation to clarify Hotpass functionality and architecture
  .github/copilot-instructions.md
  AGENTS.md
  README.md
  UPGRADE.md
  catalog-info.yaml
  docs/explanations/architecture.md
  docs/governance/gap-analysis.md
  docs/governance/project-charter.md
Owners: @platform-eng, @docs-team

fix: improve formatting and clarity in UPGRADE.md
  UPGRADE.md
Owners: @platform-eng

fix: update terminology and clarify enrichment process in UPGRADE.md
  UPGRADE.md
Owners: @platform-eng

Update src/hotpass/mcp/__main__.py
  src/hotpass/mcp/__main__.py
Owners: @platform-eng

Add comprehensive gap analysis for Hotpass readiness and quality gates
  GAP_ANALYSIS_30_10_25.md
Owners: @platform-eng

Refine gap analysis documentation with additional observations and plans for quality gates and automation improvements
  GAP_ANALYSIS_30_10_25.md
Owners: @platform-eng

Enhance quality gates and data validation processes by adding QG-2 Data Quality checks, updating expectation suites, and improving error handling in data quality scripts.
  .github/workflows/quality-gates.yml
  data_expectations/suites/contact_company_contacts.json
  data_expectations/suites/reachout_organisation.json
  scripts/quality/run_all_gates.py
  scripts/quality/run_qg2.py
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/cli/commands/qa.py
  tests/cli/__init__.py
  tests/enrichment/__init__.py
Owners: @platform-eng

Update data expectations and validation tests for contact and organisation suites
  .hypothesis/unicode_data/15.1.0/codec-utf-8.json.gz
  data_expectations/suites/contact_company_contacts.json
  data_expectations/suites/reachout_organisation.json
  tests/test_validation_checkpoints.py
Owners: @platform-eng

feat: Enhance quality gates and add new validation scripts
  .hypothesis/unicode_data/15.1.0/codec-utf-8.json.gz
  docs/reference/cli.md
  scripts/quality/run_all_gates.py
  scripts/quality/run_qg1.py
  scripts/quality/run_qg3.py
  scripts/quality/run_qg4.py
  scripts/quality/run_qg5.py
  src/hotpass/cli/commands/qa.py
  src/hotpass/mcp/server.py
  tests/cli/test_quality_gates.py
Owners: @platform-eng, @docs-team

Update dependencies, enhance CLI commands, and improve documentation
  .github/copilot-instructions.md
  .trunk/trunk.yaml
  AGENTS.md
  GAP_ANALYSIS_30_10_25.md
  README.md
  UPGRADE.md
  UPGRADE_B.md
  docs/governance/audit-baseline.md
  docs/how-to-guides/configure-pipeline.md
  docs/how-to-guides/model-lifecycle-mlflow.md
  docs/tutorials/quickstart.md
Owners: @platform-eng, @docs-team

feat: Add Staging Rehearsal Plan documentation and CLI commands for adaptive research
  .github/copilot-instructions.md
  AGENTS.md
  Next_Steps.md
  README.md
  UPGRADE.md
  docs/how-to-guides/configure-pipeline.md
  docs/index.md
  docs/operations/staging-rehearsal-plan.md
  docs/reference/cli.md
  pyproject.toml
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass.egg-info/requires.txt
  src/hotpass/cli/commands/__init__.py
  src/hotpass/cli/commands/crawl.py
  src/hotpass/cli/commands/plan.py
  src/hotpass/cli/main.py
  src/hotpass/config_schema.py
  src/hotpass/mcp/server.py
  src/hotpass/profiles/aviation.yaml
  src/hotpass/profiles/generic.yaml
  src/hotpass/research/__init__.py
  src/hotpass/research/orchestrator.py
  tests/research/test_orchestrator.py
  tests/test_evidence.py
  tools/profile_lint.py
  uv.lock
Owners: @platform-eng, @docs-team

feat: Implement research tools and enhance CLI commands for adaptive research; update staging rehearsal documentation
  Next_Steps.md
  UPGRADE.md
  docs/operations/staging-rehearsal-plan.md
  scripts/quality/run_qg4.py
  src/hotpass/research/orchestrator.py
  tests/cli/test_research_plan.py
  tests/mcp/test_research_tools.py
Owners: @platform-eng, @docs-team

fix: Update test_checkpoint_validation_provides_detailed_failure_info to include a valid organization name
  UPGRADE.md
  tests/test_validation_checkpoints.py
Owners: @platform-eng

feat: Add profiles reference documentation and implement profile linter check in CLI integrity tests
  docs/index.md
  docs/reference/profiles.md
  scripts/quality/run_qg1.py
  tests/test_compliance.py
Owners: @docs-team, @platform-eng

Refactor tests to use expect assertions for improved readability
  .hotpass/research_runs/example-flight-school-20251031T005712Z.json
  .hotpass/research_runs/example-research-org-20251031T005745Z.json
  .hotpass/research_runs/qg-research-org-20251031T005149Z.json
  .hotpass/research_runs/qg-research-org-20251031T005454Z.json
  .hotpass/research_runs/qg-research-org-20251031T005706Z.json
  .hotpass/research_runs/unknown-entity-20251031T005149Z.json
  .hotpass/research_runs/unknown-entity-20251031T005454Z.json
  .hotpass/research_runs/unknown-entity-20251031T005706Z.json
  .hotpass/research_runs/unknown-entity-20251031T005712Z.json
  .hotpass/research_runs/unknown-entity-20251031T005745Z.json
  .hypothesis/unicode_data/15.1.0/codec-utf-8.json.gz
  AGENTS.md
  Next_Steps.md
  UPGRADE.md
  docs/reference/profiles.md
  scripts/quality/run_all_gates.py
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/cli/commands/qa.py
  src/hotpass/config_schema.py
  src/hotpass/mcp/server.py
  src/hotpass/research/orchestrator.py
  tests/enrichment/test_registries.py
  tests/helpers/assertions.py
  tests/research/test_orchestrator.py
  tests/test_compliance.py
  tools/profile_lint.py
Owners: @platform-eng, @docs-team

Enhance rate limiting and artifact persistence in research orchestrator
  AGENTS.md
  Next_Steps.md
  UPGRADE.md
  docs/reference/profiles.md
  src/hotpass/cli/commands/qa.py
  src/hotpass/research/orchestrator.py
  tests/cli/test_quality_gates.py
  tests/research/test_orchestrator.py
  tests/test_compliance_verification.py
  tests/test_enrichment.py
  tests/test_enrichment_async.py
Owners: @platform-eng, @docs-team

feat: Update implementation plan and next steps for adaptive research orchestrator; align CLI commands with UPGRADE.md and enhance profile validation
  IMPLEMENTATION_PLAN.md
  Next_Steps.md
  UPGRADE.md
Owners: @platform-eng

feat: Add TA check tool test with mock command execution and artifact validation
  UPGRADE.md
  tests/mcp/test_research_tools.py
Owners: @platform-eng

feat: Persist TA history log alongside summary for enhanced tracking
  UPGRADE.md
  scripts/quality/run_all_gates.py
  src/hotpass/cli/commands/qa.py
  tests/cli/test_quality_gates.py
  tests/mcp/test_research_tools.py
Owners: @platform-eng

feat: Enhance TA summary report with JSON persistence and history tracking
  IMPLEMENTATION_PLAN.md
  UPGRADE.md
  scripts/quality/run_all_gates.py
  tests/mcp/test_research_tools.py
Owners: @platform-eng

feat: Add TA history report script and enhance profile linter with JSON output
  AGENTS.md
  UPGRADE.md
  docs/reference/profiles.md
  scripts/quality/ta_history_report.py
  tests/cli/test_ta_history_report.py
  tests/profiles/test_profile_lint_cli.py
  tools/profile_lint.py
Owners: @platform-eng, @docs-team
