Repository IAmJonoBo/Hotpass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-eng, @docs-team, @security-team

chore: update labeler workflow and enhance governance documentation
  .github/workflows/labeler.yml
  .trunk/trunk.yaml
  Next_Steps.md
  docs/governance/upgrade-final-report.md
Owners: @platform-eng, @docs-team

chore: revert build backend to setuptools.build_meta and update documentation
  Next_Steps.md
  dist/.gitignore
  docs/adr/0001-qa-tooling.md
  docs/architecture/hotpass-architecture.dsl
  docs/how-to-guides/configure-pipeline.md
  docs/observability/index.md
  docs/reference/cli.md
  docs/reference/repo-inventory.md
  pyproject.toml
  scancode-sample.json
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass.egg-info/dependency_links.txt
  src/hotpass.egg-info/top_level.txt
  src/hotpass/cli/commands/orchestrate.py
  src/hotpass/enrichment/__init__.py
  src/hotpass/enrichment/intent/runner.py
  src/hotpass/pipeline/aggregation.py
  tests/accessibility/test_dashboard_accessibility.py
  tests/cli/test_run_command.py
  tests/test_enrichment.py
Owners: @platform-eng, @docs-team

chore: update pre-commit configuration and enhance dependency audit process
  .pre-commit-config.yaml
  Next_Steps.md
  docs/governance/upgrade-final-report.md
Owners: @platform-eng, @docs-team

chore: enhance mypy audit workflow and update related documentation
  .github/workflows/mypy-audit.yml
  .pre-commit-config.yaml
  Next_Steps.md
  docs/governance/upgrade-final-report.md
  pyproject.toml
  src/hotpass/_compat_nameparser.py
  src/hotpass/domain/party/schemas.py
  src/hotpass/storage/adapters.py
Owners: @platform-eng, @docs-team

fix: update type hint for __enter__ method in QueryAdapter class
  Next_Steps.md
  src/hotpass/storage/adapters.py
Owners: @platform-eng

fix: update secrets detection results and improve test assertions
  .secrets.baseline
  Next_Steps.md
  tests/accessibility/test_dashboard_accessibility.py
  tests/cli/test_run_command.py
  tests/test_enrichment.py
Owners: @platform-eng

chore: update Next Steps documentation for clarity and organization
  Next_Steps.md
Owners: @platform-eng

feat: add support for customizable dependency profiles and enhance workflow inputs
  .github/workflows/process-data.yml
  AGENTS.md
  README.md
  docs/how-to-guides/dependency-profiles.md
  docs/index.md
  scripts/uv_sync_extras.sh
Owners: @platform-eng, @docs-team

feat: add uv_extras input to workflows for customizable dependency installation
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docs.yml
  .github/workflows/mypy-audit.yml
  .github/workflows/zap-baseline.yml
Owners: @platform-eng

feat: update Next Steps documentation with new active tasks and completed tasks sections
  Next_Steps.md
Owners: @platform-eng

Implement feature X to enhance user experience and fix bug Y in module Z
  Next_Steps.md
Owners: @platform-eng

feat: enhance local development workflow with make sync target and update documentation
  AGENTS.md
  Makefile
  Next_Steps.md
  README.md
  docs/how-to-guides/dependency-profiles.md
  scripts/uv_sync_extras.sh
Owners: @platform-eng, @docs-team

feat: add semgrep auto script with CA bundle support and enhance observability metrics
  Makefile
  Next_Steps.md
  docs/how-to-guides/dependency-profiles.md
  docs/index.md
  docs/security/tooling.md
  scripts/security/semgrep_auto.sh
  tests/_telemetry_stubs.py
  tests/test_observability.py
Owners: @platform-eng, @docs-team

feat: refactor zap-baseline workflow to use environment variables for target URL and uv extras
  .github/workflows/zap-baseline.yml
Owners: @platform-eng

feat: add backfill and incremental options to pipeline configuration and orchestration
  docs/roadmap.md
  prefect.yaml
  src/hotpass/config_schema.py
  src/hotpass/lineage.py
  src/hotpass/orchestration.py
  src/hotpass/pipeline/config.py
  tests/test_orchestration.py
Owners: @docs-team, @platform-eng

Delete PROJECT_UPGRADE.md
  PROJECT_UPGRADE.md
Owners: @platform-eng

chore(contracts): align imports with lint guidance
  Next_Steps.md
  docs/adr/0003-data-contracts.md
  docs/index.md
  docs/reference/schemas.md
  schemas/contact_capture.schema.json
  schemas/contact_company_addresses.schema.json
  schemas/contact_company_cat.schema.json
  schemas/contact_company_contacts.schema.json
  schemas/reachout_contact_info.schema.json
  schemas/reachout_organisation.schema.json
  schemas/sacaa_cleaned.schema.json
  schemas/ssot.schema.json
  src/hotpass/contracts/__init__.py
  src/hotpass/contracts/datasets.py
  src/hotpass/contracts/generator.py
  src/hotpass/contracts/types.py
  src/hotpass/orchestration.py
  tests/contracts/test_dataset_contracts.py
Owners: @platform-eng, @docs-team

feat(tests): add comprehensive tests for pipeline ingestion and aggregation functions
  Next_Steps.md
  docs/roadmap.md
  tests/test_pipeline_stages.py
Owners: @platform-eng, @docs-team

feat: add lineage module and update SOURCES.txt with new contract files
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass.egg-info/dependency_links.txt
Owners: @platform-eng

refactor: standardize primary key formatting in schema files and improve code readability
  docs/reference/schemas.md
  docs/roadmap.md
  schemas/contact_capture.schema.json
  schemas/contact_company_addresses.schema.json
  schemas/contact_company_cat.schema.json
  schemas/contact_company_contacts.schema.json
  schemas/reachout_contact_info.schema.json
  schemas/reachout_organisation.schema.json
  schemas/sacaa_cleaned.schema.json
  schemas/ssot.schema.json
  src/hotpass/contracts/types.py
  src/hotpass/lineage.py
  src/hotpass/orchestration.py
  tests/contracts/test_dataset_contracts.py
  tests/test_pipeline_stages.py
Owners: @docs-team, @platform-eng

feat(lineage): enhance OpenLineage integration with improved type handling and error checks; add comprehensive tests for lineage emitter
  Next_Steps.md
  docs/reference/schemas.md
  schemas/contact_capture.schema.json
  schemas/contact_company_addresses.schema.json
  schemas/contact_company_cat.schema.json
  schemas/contact_company_contacts.schema.json
  schemas/reachout_contact_info.schema.json
  schemas/reachout_organisation.schema.json
  schemas/sacaa_cleaned.schema.json
  schemas/ssot.schema.json
  src/hotpass/lineage.py
  tests/test_lineage.py
Owners: @platform-eng, @docs-team

feat(tests): implement assert-free pattern using expect helper in test_lineage.py; update documentation for consistency
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/how-to-guides/assert-free-pytest.md
  pyproject.toml
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/domain/party/models.py
  tests/test_lineage.py
Owners: @platform-eng, @docs-team

feat: Add new data expectations and update SOURCES.txt for checkpoints and suites
  pyproject.toml
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass.egg-info/top_level.txt
Owners: @platform-eng

fix: Update Gitleaks version to 8.18.3 in secret scanning workflow
  .github/workflows/secret-scanning.yml
Owners: @platform-eng

fix: Update Gitleaks image tag to latest in secret scanning workflow
  .github/workflows/secret-scanning.yml
Owners: @platform-eng

feat: Add Gitleaks configuration and update secret scanning workflow
  .github/workflows/secret-scanning.yml
  .gitleaks.toml
Owners: @platform-eng

fix: Update type hints for observability functions and ensure proper casting
  src/hotpass/observability.py
Owners: @platform-eng

chore: update next steps log
  Next_Steps.md
  docs/how-to-guides/assert-free-pytest.md
  pyproject.toml
  src/hotpass/orchestration.py
  src/hotpass/pipeline/aggregation.py
  src/hotpass/pipeline/base.py
  src/hotpass/pipeline/config.py
  src/hotpass/pipeline/enrichment.py
  src/hotpass/pipeline/export.py
  src/hotpass/pipeline/validation.py
  tests/formatting/test_formatting_properties.py
  tests/pipeline/test_pipeline_properties.py
  uv.lock
Owners: @platform-eng, @docs-team

Checkpoint from VS Code for coding agent session
  src/hotpass.egg-info/requires.txt
  tests/formatting/test_formatting_properties.py
  tests/pipeline/test_pipeline_properties.py
Owners: @platform-eng

feat(prefect): add manifest-driven deployments
  Next_Steps.md
  docs/adr/0005-prefect-deployment-manifests.md
  docs/how-to-guides/manage-prefect-deployments.md
  docs/how-to-guides/orchestrate-and-observe.md
  docs/index.md
  docs/reference/cli.md
  prefect.yaml
  prefect/backfill.yaml
  prefect/refinement.yaml
  src/hotpass/cli/commands/deploy.py
  src/hotpass/orchestration.py
  src/hotpass/prefect/__init__.py
  src/hotpass/prefect/deployments.py
  tests/test_deployment_specs.py
  tests/test_orchestration.py
Owners: @platform-eng, @docs-team

feat(observability): emit openlineage lineage events
  Next_Steps.md
  docs/index.md
  docs/observability/index.md
  docs/observability/marquez.md
  docs/security/quality-gates.md
  infra/marquez/README.md
  infra/marquez/docker-compose.yaml
  src/hotpass/cli/commands/run.py
  src/hotpass/lineage.py
  src/hotpass/orchestration.py
  tests/cli/test_run_lineage_integration.py
  tests/conftest.py
  tests/fixtures/lineage.py
  tests/test_orchestration_lineage.py
Owners: @platform-eng, @docs-team

feat(infra): provision arc runners and oidc tooling
  .github/workflows/arc-ephemeral-runner.yml
  Next_Steps.md
  docs/how-to-guides/manage-arc-runners.md
  docs/index.md
  infra/arc/github-config.yaml
  infra/arc/kustomization.yaml
  infra/arc/namespace.yaml
  infra/arc/runner-scale-set.yaml
  infra/arc/terraform/main.tf
  infra/arc/terraform/outputs.tf
  infra/arc/terraform/providers.tf
  infra/arc/terraform/variables.tf
  scripts/arc/verify_runner_lifecycle.py
  tests/scripts/test_arc_runner_verifier.py
Owners: @platform-eng, @docs-team

feat(telemetry): centralise bootstrap session wiring
  Next_Steps.md
  docs/adr/0006-telemetry-bootstrap.md
  docs/index.md
  docs/observability/index.md
  docs/reference/cli.md
  pyproject.toml
  src/hotpass/cli/commands/orchestrate.py
  src/hotpass/cli/commands/run.py
  src/hotpass/cli/shared.py
  src/hotpass/config_schema.py
  src/hotpass/observability.py
  src/hotpass/orchestration.py
  src/hotpass/pipeline/features/config.py
  src/hotpass/pipeline_enhanced.py
  src/hotpass/telemetry/bootstrap.py
  src/hotpass/telemetry/registry.py
  tests/cli/test_telemetry_options.py
  tests/test_pipeline_enhanced.py
  tests/test_telemetry_bootstrap.py
  uv.lock
Owners: @platform-eng, @docs-team

docs: align governance navigation and quickstarts
  Next_Steps.md
  README.md
  ROADMAP.md
  docs/CONTRIBUTING.md
  docs/adr/index.md
  docs/index.md
  docs/reference/data-docs.md
  docs/reference/schema-exports.md
  docs/roadmap.md
Owners: @platform-eng, @docs-team

Update docs/index.md
  docs/index.md
Owners: @docs-team

Update docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: @docs-team

feat(cli): add doctor and init onboarding commands
  Next_Steps.md
  docs/adr/0007-cli-onboarding.md
  docs/adr/index.md
  docs/how-to-guides/configure-pipeline.md
  docs/reference/cli.md
  docs/tutorials/quickstart.md
  src/hotpass/cli/commands/__init__.py
  src/hotpass/cli/commands/doctor.py
  src/hotpass/cli/commands/init.py
  src/hotpass/cli/main.py
  tests/cli/test_doctor_command.py
  tests/cli/test_init_command.py
  tests/cli/test_parser.py
Owners: @platform-eng, @docs-team

docs: align next steps with roadmap phases
  Next_Steps.md
Owners: @platform-eng

docs(programme): reconcile phase-one foundation scope
  Next_Steps.md
  ROADMAP.md
  docs/governance/data-governance-navigation.md
  docs/how-to-guides/manage-arc-runners.md
  docs/index.md
  docs/operations/foundation-retro.md
  docs/roadmap.md
  scripts/arc/examples/hotpass_arc_idle.json
  scripts/arc/verify_runner_lifecycle.py
  tests/scripts/test_arc_runner_verifier.py
Owners: @platform-eng, @docs-team

docs: close dataset contract roadmap milestone
  Next_Steps.md
  ROADMAP.md
  docs/reference/schemas.md
  docs/roadmap.md
  schemas/contact_capture.schema.json
  schemas/contact_company_addresses.schema.json
  schemas/contact_company_cat.schema.json
  schemas/contact_company_contacts.schema.json
  schemas/reachout_contact_info.schema.json
  schemas/reachout_organisation.schema.json
  schemas/sacaa_cleaned.schema.json
  schemas/ssot.schema.json
Owners: @platform-eng, @docs-team

.github/CODEOWNERS:

# Default owners
* @platform-eng

# Docs
/docs/ @docs-team

# Security + supply-chain
SECURITY.md @security-team
policy/ @security-team
scripts/supply_chain/ @security-team

# Workflows
.github/workflows/ @platform-eng
.github/labeler.yml @platform-eng
.github/release-drafter.yml @platform-eng
renovate.json @platform-eng
