Repository IAmJonoBo/Hotpass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-eng, @docs-team, @security-team

feat: Add advanced resolve profile test and enhance documentation for adaptive research plan
  IMPLEMENTATION_PLAN.md
  Next_Steps.md
  README.md
  UPGRADE.md
  tests/cli/test_resolve_profile.py
Owners: @platform-eng

feat: Enhance implementation plan and documentation for Hotpass upgrade
  AGENTS.md
  IMPLEMENTATION_PLAN.md
  Next_Steps.md
  UPGRADE.md
  scripts/quality/run_all_gates.py
  src/hotpass/research/orchestrator.py
  tests/cli/test_resolve_profile.py
  tests/profiles/test_profile_lint_cli.py
  tests/test_agentic_orchestration.py
Owners: @platform-eng

feat: Add parallel test execution and Prefect worker management guidance
  .github/workflows/quality-gates.yml
  AGENTS.md
  README.md
  docs/how-to-guides/manage-prefect-deployments.md
Owners: @platform-eng, @docs-team

Update implementation reports and roadmap for Phase 5 completion, including quality gates, security scanning, and telemetry enhancements
  IMPLEMENTATION_COMPLETION_REPORT.md
  IMPLEMENTATION_PLAN.md
  Next_Steps.md
  ROADMAP.md
  UPGRADE.md
  docs/roadmap.md
Owners: @platform-eng, @docs-team

Add explain-provenance command to CLI for inspecting provenance metadata
  .github/copilot-instructions.md
  AGENTS.md
  IMPLEMENTATION_COMPLETION_REPORT.md
  IMPLEMENTATION_PLAN.md
  Next_Steps.md
  Next_Steps_Log.md
  UPGRADE.md
  docs/reference/cli.md
  scripts/quality/run_qg4.py
  src/hotpass/cli/commands/__init__.py
  src/hotpass/cli/commands/explain_provenance.py
  src/hotpass/cli/main.py
  tests/cli/test_explain_provenance.py
  tests/test_deployment_specs.py
Owners: @platform-eng, @docs-team

feat: Enable Docker buildx cache reuse and enhance testing fixtures
  .github/workflows/docker-cache.yml
  IMPLEMENTATION_COMPLETION_REPORT.md
  Next_Steps.md
  Next_Steps_Log.md
  ROADMAP.md
  UPGRADE.md
  docs/roadmap.md
  tests/cli/test_backfill.py
  tests/cli/test_deploy_command.py
  tests/cli/test_progress.py
  tests/cli/test_quality_gates.py
  tests/cli/test_research_plan.py
  tests/cli/test_telemetry_options.py
  tests/conftest.py
  tests/data_sources/test_acquisition_agents.py
  tests/data_sources/test_agent_tasks_execution.py
  tests/enrichment/test_quality_gates.py
  tests/fixtures/lineage.py
  tests/formatting/test_formatting_properties.py
  tests/helpers/fixtures.py
  tests/ml/test_tracking_stubbed.py
  tests/pipeline/test_ingest_validation.py
  tests/scripts/test_arc_runner_verifier.py
  tests/test_agentic_orchestration.py
  tests/test_compliance.py
  tests/test_compliance_verification.py
  tests/test_dashboard.py
  tests/test_deployment_specs.py
  tests/test_enrichment.py
  tests/test_enrichment_async.py
  tests/test_geospatial.py
  tests/test_linkage.py
  tests/test_ml_tracking.py
  tests/test_observability.py
  tests/test_orchestration.py
  tests/test_pipeline_enhanced.py
  tests/test_secrets.py
Owners: @platform-eng, @docs-team

refactor: Improve test assertions and type hints across multiple test files
  tests/data_sources/test_agent_tasks_execution.py
  tests/enrichment/test_registries.py
  tests/formatting/test_formatting_properties.py
  tests/infrastructure/test_marquez_stack.py
  tests/ml/test_tracking_stubbed.py
  tests/test_data_sources.py
  tests/test_deployment_specs.py
  tests/test_enrichment.py
  tests/test_enrichment_validators.py
  tests/test_geospatial.py
  tests/test_observability.py
  tests/test_pipeline_enhanced.py
  tests/test_telemetry_bootstrap.py
Owners: @platform-eng

refactor: Simplify test assertions and improve type casting in various test files
  tests/data_sources/test_agent_tasks_execution.py
  tests/formatting/test_formatting_properties.py
  tests/helpers/hypothesis.py
  tests/pipeline/test_pipeline_properties.py
  tests/test_deployment_specs.py
  tests/test_observability.py
  tests/test_orchestration.py
  tests/test_pipeline_enhanced.py
Owners: @platform-eng

refactor: Improve type hints and simplify function signatures in hypothesis wrappers and tests
  tests/helpers/hypothesis.py
  tests/pipeline/test_pipeline_properties.py
  tests/property/test_ingestion_properties.py
  tests/test_observability.py
  tests/test_orchestration.py
Owners: @platform-eng

refactor: Introduce typed wrappers for pytest marks and enhance mypy error remediation across multiple files
  IMPLEMENTATION_COMPLETION_REPORT.md
  Next_Steps.md
  UPGRADE.md
  tests/contracts/test_dataset_contracts.py
  tests/formatting/test_formatting_properties.py
  tests/helpers/hypothesis.py
  tests/helpers/pytest_marks.py
  tests/pipeline/test_pipeline_properties.py
  tests/property/test_ingestion_properties.py
  tests/test_enrichment.py
  tests/test_orchestration.py
Owners: @platform-eng

Refactor codebase for improved type safety and clarity
  IMPLEMENTATION_COMPLETION_REPORT.md
  Next_Steps.md
  UPGRADE.md
  src/hotpass/cli/commands/crawl.py
  src/hotpass/cli/commands/plan.py
  src/hotpass/cli/commands/qa.py
  src/hotpass/mcp/server.py
  tests/accessibility/test_dashboard_accessibility.py
  tests/cli/test_progress.py
  tests/cli/test_quality_gates.py
  tests/cli/test_research_plan.py
  tests/cli/test_resolve_profile.py
  tests/contracts/test_cli_contract.py
  tests/formatting/test_formatting_properties.py
  tests/helpers/hypothesis.py
  tests/helpers/stubs.py
  tests/mcp/test_research_tools.py
  tests/pipeline/test_pipeline_properties.py
  tests/research/test_orchestrator.py
  tests/test_agentic_orchestration.py
  tests/test_dashboard.py
  tests/test_observability.py
  tests/test_orchestration.py
Owners: @platform-eng

refactor: Simplify result payload handling in test_broker_agent_run_executes_pipeline_with_approval
  Next_Steps.md
  tests/test_agentic_orchestration.py
Owners: @platform-eng

refactor: Enhance test coverage and improve configuration handling in test_resolve_profile.py
  Next_Steps.md
  tests/cli/test_resolve_profile.py
Owners: @platform-eng

feat(docs): add comprehensive documentation including Code of Conduct, Contributing guidelines, and various templates
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING 2.md
  docs/LICENSE
  docs/README.md
  docs/docs/ai/AGENT_SYSTEM_SPEC.md
  docs/docs/ai/AI_EVALUATION_PLAN.md
  docs/docs/ai/AI_GUARDRAILS.md
  docs/docs/ai/COPILOT_USAGE.md
  docs/docs/architecture/ADRs/ADR-0001-record-architecture-decisions.md
  docs/docs/architecture/ARCHITECTURE_OVERVIEW.md
  docs/docs/community/CONTRIBUTING.md
  docs/docs/community/GOVERNANCE.md
  docs/docs/delivery/CI_PIPELINE.md
  docs/docs/delivery/RELEASE_PROCESS.md
  docs/docs/development/CODING_STANDARDS.md
  docs/docs/development/REPO_CONVENTIONS.md
  docs/docs/development/TOOLCHAIN_SETUP.md
  docs/docs/development/TYPE_SAFETY_AND_VALIDATION.md
  docs/docs/ops/INCIDENT_RESPONSE.md
  docs/docs/ops/OBSERVABILITY_SPEC.md
  docs/docs/policies/PRIVACY_DATA_POLICY.md
  docs/docs/policies/SECURITY_POLICY.md
  docs/docs/policies/THREAT_MODEL.md
  docs/docs/project/PROJECT_CHARTER.md
  docs/docs/quality/QA_CHECKLIST.md
  docs/docs/quality/QUALITY_GATES.md
  docs/docs/quality/TEST_STRATEGY.md
  docs/docs/templates/ADR.md
  docs/docs/templates/AgentEval.md
  docs/docs/templates/AgentPrompt.md
  docs/docs/templates/Postmortem.md
  docs/docs/templates/RFC.md
  docs/docs/templates/ReleaseNotes.md
  docs/docs/templates/TestCase.md
  docs/docs/templates/ThreatModel.md
Owners: @docs-team

docs: add spacing for improved readability in multiple documentation files
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING 2.md
  docs/docs/ai/AI_EVALUATION_PLAN.md
  docs/docs/architecture/ARCHITECTURE_OVERVIEW.md
  docs/docs/development/TOOLCHAIN_SETUP.md
  docs/docs/policies/THREAT_MODEL.md
  docs/docs/project/PROJECT_CHARTER.md
Owners: @docs-team

docs: update multiple documentation files for clarity and accuracy, including project charter, how-to guides, and CLI reference
  docs/docs/project/PROJECT_CHARTER.md
  docs/how-to-guides/manage-arc-runners.md
  docs/how-to-guides/manage-prefect-deployments.md
  docs/how-to-guides/orchestrate-and-observe.md
  docs/operations/staging-rehearsal-plan.md
  docs/reference/cli.md
  docs/reference/repo-inventory.md
  docs/roadmap.md
Owners: @docs-team

feat: add Marquez management commands to Makefile and update documentation for local setup
  Makefile
  docs/observability/marquez.md
  infra/marquez/README.md
  infra/marquez/docker-compose.yaml
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass.egg-info/top_level.txt
Owners: @platform-eng, @docs-team

docs: update Marquez setup instructions for port overrides and enhance healthcheck configurations
  docs/observability/marquez.md
  infra/marquez/README.md
  infra/marquez/docker-compose.yaml
Owners: @docs-team, @platform-eng

.github/CODEOWNERS:

# Default owners
* @platform-eng

# Docs
/docs/ @docs-team

# Security + supply-chain
SECURITY.md @security-team
policy/ @security-team
scripts/supply_chain/ @security-team

# Workflows
.github/workflows/ @platform-eng
.github/labeler.yml @platform-eng
.github/release-drafter.yml @platform-eng
renovate.json @platform-eng
