Repository IAmJonoBo/Hotpass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-eng, @docs-team, @security-team

.github/CODEOWNERS:

# Default owners
* @platform-eng

# Docs
/docs/ @docs-team

# Security + supply-chain
SECURITY.md @security-team
policy/ @security-team
scripts/supply_chain/ @security-team

# Workflows
.github/workflows/ @platform-eng

docs: update Next_Steps for linkage QA
  Next_Steps.md
  src/hotpass/linkage/blocking.py
  src/hotpass/linkage/comparators.py
  src/hotpass/linkage/runner.py
  src/hotpass/linkage/settings.py
  src/hotpass/pipeline_enhancements.py
  src/hotpass/transform/normalize.py
  tests/test_linkage.py
Owners: @platform-eng

feat(pipeline): finalize polars storage integration
  .pre-commit-config.yaml
  Next_Steps.md
  docs/explanations/architecture.md
  docs/reference/cli.md
  src/hotpass/benchmarks.py
  src/hotpass/pipeline.py
  src/hotpass/pipeline_enhancements.py
  src/hotpass/storage/__init__.py
  src/hotpass/storage/adapters.py
  src/hotpass/storage/dataset.py
  src/hotpass/storage/duckdb.py
  src/hotpass/telemetry/__init__.py
  tests/test_observability.py
  tests/test_pipeline.py
  tests/test_pipeline_enhanced.py
  tests/test_quality_report.py
Owners: @platform-eng, @docs-team

fix: modernise telemetry attribute handling
  Next_Steps.md
  src/hotpass/telemetry/__init__.py
  tests/test_observability.py
Owners: @platform-eng

feat: harden compliance redaction and guardrails
  .github/workflows/process-data.yml
  .github/workflows/secret-scanning.yml
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  Next_Steps.md
  docs/compliance/index.md
  docs/compliance/presidio-redaction.md
  policy/README.md
  policy/licensing/allowlist.yml
  policy/reuse/dep5
  scancode-sample.json
  scripts/acquisition/__init__.py
  scripts/acquisition/collect_dataset.py
  scripts/acquisition/guardrails.py
  scripts/compliance/check_scancode.py
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/__init__.py
  src/hotpass/compliance.py
  src/hotpass/pipeline.py
  tests/test_acquisition_guardrails.py
  tests/test_compliance.py
  tests/test_pipeline.py
  tests/test_pipeline_enhanced.py
  tests/test_scancode_policy.py
Owners: @platform-eng, @docs-team, @security-team

feat(orchestration): gate agentic runs with approvals
  Next_Steps.md
  docs/how-to-guides/agentic-orchestration.md
  docs/index.md
  docs/platform/tech-radar.md
  scripts/agents/README.md
  scripts/agents/mcp_client.yaml
  scripts/agents/mcp_server.yaml
  src/hotpass/orchestration.py
  tests/test_agentic_orchestration.py
Owners: @platform-eng, @docs-team

fix(pipeline): guard orchestrator trace factory configuration
  Next_Steps.md
  docs/how-to-guides/configure-pipeline.md
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/__init__.py
  src/hotpass/pipeline/__init__.py
  src/hotpass/pipeline/base.py
  src/hotpass/pipeline/features/__init__.py
  src/hotpass/pipeline/features/base.py
  src/hotpass/pipeline/features/compliance.py
  src/hotpass/pipeline/features/config.py
  src/hotpass/pipeline/features/enrichment.py
  src/hotpass/pipeline/features/entity_resolution.py
  src/hotpass/pipeline/features/geospatial.py
  src/hotpass/pipeline/orchestrator.py
  src/hotpass/pipeline_enhanced.py
  src/hotpass/pipeline_enhancements.py
  tests/pipeline/test_feature_strategies.py
  tests/pipeline/test_orchestrator_features.py
  tests/test_pipeline_enhanced.py
Owners: @platform-eng, @docs-team

feat(cli): unify command surface
  Next_Steps.md
  contracts/hotpass-cli-contract.yaml
  docs/governance/project-charter.md
  docs/how-to-guides/orchestrate-and-observe.md
  docs/reference/cli.md
  docs/tutorials/enhanced-pipeline.md
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/cli.py
  src/hotpass/cli/__init__.py
  src/hotpass/cli/builder.py
  src/hotpass/cli/commands/__init__.py
  src/hotpass/cli/commands/dashboard.py
  src/hotpass/cli/commands/deploy.py
  src/hotpass/cli/commands/orchestrate.py
  src/hotpass/cli/commands/resolve.py
  src/hotpass/cli/commands/run.py
  src/hotpass/cli/configuration.py
  src/hotpass/cli/main.py
  src/hotpass/cli/progress.py
  src/hotpass/cli/shared.py
  src/hotpass/cli_enhanced.py
  tests/cli/test_configuration.py
  tests/cli/test_parser.py
  tests/cli/test_progress.py
  tests/cli/test_run_command.py
  tests/contracts/test_cli_contract.py
  tests/test_cli_enhanced.py
Owners: @platform-eng, @docs-team

refactor(telemetry): finalise registry and policy enforcement
  Next_Steps.md
  docs/how-to-guides/orchestrate-and-observe.md
  docs/index.md
  docs/metrics/metrics-plan.md
  docs/observability/index.md
  scripts/compliance/check_scancode.py
  src/hotpass/cli_enhanced.py
  src/hotpass/compliance.py
  src/hotpass/observability.py
  src/hotpass/pipeline_enhanced.py
  src/hotpass/telemetry/metrics.py
  src/hotpass/telemetry/registry.py
  tests/_telemetry_stubs.py
  tests/pipeline/test_feature_strategies.py
  tests/pipeline/test_orchestrator_features.py
  tests/test_agentic_orchestration.py
  tests/test_observability.py
  tests/test_pipeline_enhanced.py
  tests/test_scancode_policy.py
  tests/test_telemetry_registry.py
Owners: @platform-eng, @docs-team

Update src/hotpass/cli_enhanced.py
  src/hotpass/cli_enhanced.py
Owners: @platform-eng

feat(config): introduce canonical configuration schema
  Next_Steps.md
  docs/how-to-guides/configure-pipeline.md
  docs/reference/cli.md
  src/hotpass/__init__.py
  src/hotpass/cli/commands/dashboard.py
  src/hotpass/cli/commands/orchestrate.py
  src/hotpass/cli/commands/run.py
  src/hotpass/cli/configuration.py
  src/hotpass/config.py
  src/hotpass/config_doctor.py
  src/hotpass/config_schema.py
  src/hotpass/orchestration.py
  src/hotpass/pipeline/__init__.py
  src/hotpass/pipeline/features/compliance.py
  src/hotpass/pipeline/features/config.py
  tests/cli/test_configuration.py
  tests/cli/test_run_command.py
  tests/test_agentic_orchestration.py
  tests/test_config_doctor.py
  tests/test_config_schema.py
  tests/test_orchestration.py
Owners: @platform-eng, @docs-team

fix: guard telemetry registry shutdown
  Next_Steps.md
  src/hotpass/pipeline/__init__.py
  src/hotpass/telemetry/registry.py
  src/hotpass/validation.py
  tests/__init__.py
  tests/_telemetry_stubs.py
Owners: @platform-eng

feat: add acquisition agents and contact validation
  Next_Steps.md
  docs/how-to-guides/configure-pipeline.md
  src/hotpass/cli_enhanced.py
  src/hotpass/config_schema.py
  src/hotpass/contacts.py
  src/hotpass/data_sources/__init__.py
  src/hotpass/data_sources/agents/__init__.py
  src/hotpass/data_sources/agents/base.py
  src/hotpass/data_sources/agents/config.py
  src/hotpass/data_sources/agents/runner.py
  src/hotpass/enrichment/__init__.py
  src/hotpass/enrichment/providers.py
  src/hotpass/enrichment/validators/__init__.py
  src/hotpass/pipeline/base.py
  src/hotpass/pipeline/events.py
  src/hotpass/quality.py
  src/hotpass/transform/scoring.py
  tests/data_sources/test_acquisition_agents.py
  tests/test_contacts.py
  tests/test_pipeline.py
  tests/test_quality.py
  tests/test_scoring.py
Owners: @platform-eng, @docs-team

feat: add acquisition agent orchestration workflow
  Next_Steps.md
  scripts/acquisition/guardrails.py
  src/hotpass/config_schema.py
  src/hotpass/data_sources/agents/__init__.py
  src/hotpass/data_sources/agents/base.py
  src/hotpass/data_sources/agents/config.py
  src/hotpass/data_sources/agents/runner.py
  src/hotpass/data_sources/agents/tasks.py
  src/hotpass/enrichment/providers.py
  src/hotpass/linkage/runner.py
  src/hotpass/pipeline/base.py
  src/hotpass/pipeline/features/config.py
  src/hotpass/pipeline/orchestrator.py
  tests/data_sources/test_acquisition_agents.py
  tests/fixtures/acquisition/blended_plan.json
  tests/pipeline/test_orchestrator_features.py
Owners: @platform-eng

Update test_acquisition_agents.py
  tests/data_sources/test_acquisition_agents.py
Owners: @platform-eng

Update providers.py
  src/hotpass/enrichment/providers.py
Owners: @platform-eng

Update tasks.py
  src/hotpass/data_sources/agents/tasks.py
Owners: @platform-eng

Update tests/test_quality.py
  tests/test_quality.py
Owners: @platform-eng

feat: add verification deliverability signals
  Next_Steps.md
  data_expectations/contact/company_contacts.json
  docs/how-to-guides/configure-pipeline.md
  src/hotpass/contacts.py
  src/hotpass/data_sources/__init__.py
  src/hotpass/data_sources/agents/__init__.py
  src/hotpass/data_sources/agents/base.py
  src/hotpass/data_sources/agents/config.py
  src/hotpass/enrichment/providers.py
  src/hotpass/enrichment/validators/__init__.py
  src/hotpass/linkage/runner.py
  src/hotpass/pipeline/base.py
  src/hotpass/quality.py
  tests/test_contacts.py
  tests/test_enrichment_validators.py
  tests/test_pipeline.py
  tests/test_quality.py
Owners: @platform-eng, @docs-team

docs: log qa revalidation
  Next_Steps.md
  docs/how-to-guides/configure-pipeline.md
  src/hotpass/automation/__init__.py
  src/hotpass/automation/hooks.py
  src/hotpass/cli/commands/run.py
  src/hotpass/cli/shared.py
  src/hotpass/config_schema.py
  src/hotpass/enrichment/intent/__init__.py
  src/hotpass/enrichment/intent/collectors.py
  src/hotpass/enrichment/intent/config.py
  src/hotpass/enrichment/intent/runner.py
  src/hotpass/enrichment/intent/storage.py
  src/hotpass/pipeline/base.py
  src/hotpass/transform/scoring.py
  tests/cli/test_run_command.py
  tests/test_enrichment.py
  tests/test_pipeline.py
  tests/test_scoring.py
Owners: @platform-eng, @docs-team

feat(enrichment): add registry adapters for cipc and sacaa
  Next_Steps.md
  docs/how-to-guides/configure-pipeline.md
  policy/acquisition/providers.json
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/enrichment/__init__.py
  src/hotpass/enrichment/registries/__init__.py
  src/hotpass/enrichment/registries/base.py
  src/hotpass/enrichment/registries/cipc.py
  src/hotpass/enrichment/registries/sacaa.py
  tests/enrichment/test_registries.py
  tests/fixtures/enrichment/cipc_company.json
  tests/fixtures/enrichment/sacaa_operator.json
  tests/test_enrichment.py
Owners: @platform-eng, @docs-team, @security-team

Update src/hotpass/enrichment/registries/base.py
  src/hotpass/enrichment/registries/base.py
Owners: @platform-eng

Update tests/enrichment/test_registries.py
  tests/enrichment/test_registries.py
Owners: @platform-eng

Update src/hotpass/enrichment/__init__.py
  src/hotpass/enrichment/__init__.py
Owners: @platform-eng

Update src/hotpass/enrichment/registries/base.py
  src/hotpass/enrichment/registries/base.py
Owners: @platform-eng

feat(cli): add backfill orchestration command
  Next_Steps.md
  docs/governance/pr-playbook.md
  docs/how-to-guides/orchestrate-and-observe.md
  src/hotpass/cli/commands/__init__.py
  src/hotpass/cli/commands/backfill.py
  src/hotpass/cli/main.py
  src/hotpass/config_schema.py
  src/hotpass/orchestration.py
  tests/cli/test_backfill.py
  tests/test_orchestration.py
Owners: @platform-eng, @docs-team

feat(automation): add resilient delivery http client
  Next_Steps.md
  docs/how-to-guides/configure-pipeline.md
  docs/reference/cli.md
  src/hotpass/automation/__init__.py
  src/hotpass/automation/hooks.py
  src/hotpass/automation/http.py
  src/hotpass/cli/commands/backfill.py
  src/hotpass/cli/commands/run.py
  src/hotpass/cli/shared.py
  src/hotpass/config_schema.py
  src/hotpass/pipeline/base.py
  src/hotpass/telemetry/metrics.py
  tests/automation/test_hooks.py
  tests/cli/test_run_command.py
Owners: @platform-eng, @docs-team

feat(transform): track lead scoring validation metrics
  Next_Steps.md
  docs/how-to-guides/configure-pipeline.md
  src/hotpass/cli/commands/run.py
  src/hotpass/enrichment/intent/storage.py
  src/hotpass/enrichment/providers.py
  src/hotpass/transform/scoring.py
  tests/test_scoring.py
Owners: @platform-eng, @docs-team

refactor(pipeline): modularize core stages
  Next_Steps.md
  docs/explanations/architecture.md
  docs/how-to-guides/format-and-validate.md
  docs/security/quality-gates.md
  scripts/quality/fitness_functions.py
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/config_schema.py
  src/hotpass/pipeline/__init__.py
  src/hotpass/pipeline/aggregation.py
  src/hotpass/pipeline/base.py
  src/hotpass/pipeline/config.py
  src/hotpass/pipeline/enrichment.py
  src/hotpass/pipeline/export.py
  src/hotpass/pipeline/ingestion.py
  src/hotpass/pipeline/orchestrator.py
  src/hotpass/pipeline/validation.py
  tests/data_sources/test_acquisition_agents.py
  tests/pipeline/test_orchestrator_features.py
Owners: @platform-eng, @docs-team

docs: add repository inventory reference
  Next_Steps.md
  docs/compliance/popia/maturity-matrix.md
  docs/how-to-guides/agentic-orchestration.md
  docs/index.md
  docs/reference/repo-inventory.md
Owners: @platform-eng, @docs-team

build: adopt uv.core.build backend and qa target
  Makefile
  Next_Steps.md
  README.md
  docs/CONTRIBUTING.md
  docs/adr/0001-qa-tooling.md
  docs/index.md
  pyproject.toml
  scripts/quality/fitness_functions.py
  sitecustomize.py
Owners: @platform-eng, @docs-team
