Repository IAmJonoBo/Hotpass, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-eng, @docs-team, @security-team

chore: deliver upgrade final package
  Next_Steps.md
  docs/governance/upgrade-final-report.md
  docs/index.md
  scripts/quality/fitness_functions.py
  tests/contracts/test_cli_contract.py
Owners: @platform-eng, @docs-team

build: verify uv installer tarball
  .github/workflows/process-data.yml
  Dockerfile
  Next_Steps.md
  docs/architecture/resilience-plan.md
  docs/compliance/iso-27001/maturity-matrix.md
  docs/compliance/popia/maturity-matrix.md
  docs/compliance/soc2/maturity-matrix.md
  docs/index.md
  docs/roadmap.md
  docs/security/threat-model.md
  src/hotpass/quality.py
  tests/test_pipeline.py
  tests/test_quality.py
Owners: @platform-eng, @docs-team

chore(ci): pin actions and publish checksums
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/docs.yml
  .github/workflows/process-data.yml
  .github/workflows/zap-baseline.yml
  Next_Steps.md
Owners: @platform-eng

feat(dashboard): enforce authentication and allowlists
  Next_Steps.md
  docs/architecture/resilience-plan.md
  docs/explanations/architecture.md
  docs/governance/upgrade-final-report.md
  docs/metrics/devex-audit.md
  docs/reference/cli.md
  docs/security/threat-model.md
  src/hotpass/dashboard.py
  tests/test_dashboard.py
Owners: @platform-eng, @docs-team

Update src/hotpass/dashboard.py
  src/hotpass/dashboard.py
Owners: @platform-eng

chore: update pre-commit config args format and add line breaks in remediation backlog
  .pre-commit-config.yaml
  docs/compliance/remediation-backlog.md
  docs/governance/upgrade-final-report.md
Owners: @platform-eng, @docs-team

chore: add docstring to clarify purpose of deprecated shim script
  scripts/process_data.py
Owners: @platform-eng

refactor: modularize enhanced pipeline helpers
  Next_Steps.md
  data/inventory/asset-register.yaml
  docs/compliance/index.md
  docs/compliance/iso-27001/maturity-matrix.md
  docs/compliance/popia/maturity-matrix.md
  docs/compliance/remediation-backlog.md
  docs/compliance/soc2/maturity-matrix.md
  docs/governance/secrets-management.md
  docs/governance/upgrade-final-report.md
  docs/how-to-guides/configure-pipeline.md
  docs/index.md
  docs/metrics/devex-audit.md
  docs/roadmap.md
  docs/security/risk-register.md
  docs/security/threat-model.md
  src/hotpass/compliance.py
  src/hotpass/pipeline.py
  src/hotpass/pipeline_enhanced.py
  src/hotpass/pipeline_enhancements.py
  tests/test_compliance.py
  tests/test_pipeline_enhanced.py
Owners: @platform-eng, @docs-team

fix: correct logging format for Splink import fallback
  .vscode/settings.json
  docs/governance/secrets-management.md
  docs/how-to-guides/configure-pipeline.md
  docs/security/risk-register.md
  src/hotpass/optimize.py
  src/hotpass/pipeline_enhancements.py
Owners: @platform-eng, @docs-team

fix: update logging format for consistency in DataOptimizer class
  src/hotpass/optimize.py
Owners: @platform-eng

fix: rename duplicates to duplicate_groups for clarity in DataOptimizer class
  src/hotpass/optimize.py
Owners: @platform-eng

fix: harden vault evidence helpers for qa gates
  Next_Steps.md
  src/hotpass/evidence.py
  src/hotpass/secrets.py
  tests/test_secrets.py
Owners: @platform-eng

chore: normalize formatting and lint allowlists
  Next_Steps.md
  src/hotpass/dashboard.py
  src/hotpass/secrets.py
  tests/test_pipeline_enhanced.py
  tests/test_secrets.py
Owners: @platform-eng

chore: vendor semgrep ruleset and enrich dashboard guidance
  .github/workflows/process-data.yml
  Next_Steps.md
  docs/security/quality-gates.md
  docs/ux/accessibility-checklist.md
  policy/README.md
  policy/semgrep/hotpass.yml
  src/hotpass/dashboard.py
  tests/accessibility/test_dashboard_accessibility.py
  tests/test_dashboard.py
Owners: @platform-eng, @docs-team, @security-team

feat: centralize warning suppression and qa hardening
  Next_Steps.md
  src/hotpass/__init__.py
  src/hotpass/_warning_filters.py
  src/hotpass/column_mapping.py
  src/hotpass/enrichment.py
  src/hotpass/pipeline_enhanced.py
  src/hotpass/quality.py
  tests/conftest.py
  tests/test_pipeline.py
  tests/test_pipeline_enhanced.py
  tests/test_quality.py
Owners: @platform-eng

Update quality.py
  src/hotpass/quality.py
Owners: @platform-eng

Update test_pipeline_enhanced.py
  tests/test_pipeline_enhanced.py
Owners: @platform-eng

Update quality.py
  src/hotpass/quality.py
Owners: @platform-eng

feat: automate compliance verification cadence
  Next_Steps.md
  data/compliance/README.md
  data/compliance/reports/verification-summary.json
  data/compliance/verification-log.json
  data/logs/prefect/README.md
  dist/.gitignore
  dist/logs/access/README.md
  docs/compliance/evidence-catalog.md
  docs/compliance/index.md
  docs/compliance/verification-plan.md
  docs/governance/supplier-risk-register.md
  docs/index.md
  scripts/compliance/run_verification.py
  src/hotpass/compliance_verification.py
  tests/test_compliance_verification.py
  tests/test_pipeline_enhanced.py
Owners: @platform-eng, @docs-team

Update supplier-risk-register.md
  docs/governance/supplier-risk-register.md
Owners: @docs-team

docs: update next steps for gap analysis
  Next_Steps.md
  docs/governance/gap-analysis.md
Owners: @platform-eng, @docs-team

Update gap-analysis.md
  docs/governance/gap-analysis.md
Owners: @docs-team

Update gap-analysis.md
  docs/governance/gap-analysis.md
Owners: @docs-team

Update Next_Steps.md
  Next_Steps.md
Owners: @platform-eng

Update Next_Steps.md
  Next_Steps.md
Owners: @platform-eng

chore: unblock docs qa gating
  Next_Steps.md
  docs/conf.py
  docs/governance/gap-analysis.md
  docs/index.md
  src/hotpass/cli_enhanced.py
  src/hotpass/entity_resolution.py
  src/hotpass/evidence.py
  src/hotpass/geospatial.py
  src/hotpass/orchestration.py
  tests/test_cli_enhanced.py
  tests/test_entity_resolution.py
  tests/test_evidence.py
  tests/test_geospatial.py
  tests/test_orchestration.py
Owners: @platform-eng, @docs-team

feat(cli): finalize progress tooling and bootstrap dx
  Next_Steps.md
  README.md
  docs/devex/backstage-mvp.md
  docs/reference/cli.md
  docs/roadmap.md
  docs/roadmap/30-60-90.md
  scripts/__init__.py
  scripts/idp/__init__.py
  scripts/idp/bootstrap.py
  src/hotpass/cli.py
  src/hotpass/pipeline.py
  tests/test_bootstrap.py
  tests/test_cli.py
  tests/test_pipeline.py
Owners: @platform-eng, @docs-team

Update src/hotpass/cli.py
  src/hotpass/cli.py
Owners: @platform-eng

refactor: extract pipeline reporting helpers
  Next_Steps.md
  docs/how-to-guides/bootstrap-execute-mode.md
  docs/how-to-guides/configure-pipeline.md
  docs/index.md
  docs/roadmap.md
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/cli.py
  src/hotpass/enrichment.py
  src/hotpass/pipeline.py
  src/hotpass/pipeline_enhancements.py
  src/hotpass/pipeline_reporting.py
  tests/test_cli.py
  tests/test_enhancements.py
  tests/test_enrichment.py
  tests/test_pipeline_enhanced.py
Owners: @platform-eng, @docs-team

feat(docs): add comprehensive AGENTS.md for running Hotpass with Codex
  AGENTS.md
Owners: @platform-eng

refactor: remove completed QA tasks and update Semgrep configuration
  Next_Steps.md
Owners: @platform-eng

refactor: update Copilot instructions for clarity and structure
  .github/copilot-instructions.md
Owners: @platform-eng

refactor: update tools configuration to disable markdownlint and enable markdownlint-cli2
  .trunk/trunk.yaml
Owners: @platform-eng

feat(docs): add SCRATCH.md with executive summary and detailed data processing guidelines
  SCRATCH.md
Owners: @platform-eng

feat(pipeline): enforce governed ingest validation
  Next_Steps.md
  data_expectations/contact/capture.json
  data_expectations/contact/company_addresses.json
  data_expectations/contact/company_cat.json
  data_expectations/contact/company_contacts.json
  data_expectations/reachout/contact_info.json
  data_expectations/reachout/organisation.json
  data_expectations/sacaa/cleaned.json
  docs/how-to-guides/format-and-validate.md
  pyproject.toml
  schemas/contact_capture.schema.json
  schemas/contact_company_addresses.schema.json
  schemas/contact_company_cat.schema.json
  schemas/contact_company_contacts.schema.json
  schemas/reachout_contact_info.schema.json
  schemas/reachout_organisation.schema.json
  schemas/sacaa_cleaned.schema.json
  schemas/ssot.schema.json
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass.egg-info/requires.txt
  src/hotpass/data_sources.py
  src/hotpass/error_handling.py
  src/hotpass/normalization.py
  src/hotpass/pipeline.py
  src/hotpass/transform/__init__.py
  src/hotpass/transform/normalize.py
  src/hotpass/validation.py
  tests/pipeline/test_ingest_validation.py
  uv.lock
Owners: @platform-eng, @docs-team

Update src/hotpass/validation.py
  src/hotpass/validation.py
Owners: @platform-eng

Update src/hotpass/validation.py
  src/hotpass/validation.py
Owners: @platform-eng

Update src/hotpass/validation.py
  src/hotpass/validation.py
Owners: @platform-eng

feat(domain): add canonical party store and docs
  Next_Steps.md
  docs/how-to-guides/orchestrate-and-observe.md
  docs/reference/cli.md
  scripts/catalog/generate_dictionary.py
  src/hotpass.egg-info/SOURCES.txt
  src/hotpass/cli.py
  src/hotpass/domain/__init__.py
  src/hotpass/domain/party/__init__.py
  src/hotpass/domain/party/dictionary.py
  src/hotpass/domain/party/loader.py
  src/hotpass/domain/party/models.py
  src/hotpass/domain/party/schemas.py
  src/hotpass/orchestration.py
  src/hotpass/pipeline.py
  src/hotpass/validation.py
  templates/backstage/skeleton/README.md
  tests/domain/__init__.py
  tests/domain/test_party_model.py
Owners: @platform-eng, @docs-team

Update src/hotpass/pipeline.py
  src/hotpass/pipeline.py
Owners: @platform-eng

.github/CODEOWNERS:

# Default owners
* @platform-eng

# Docs
/docs/ @docs-team

# Security + supply-chain
SECURITY.md @security-team
policy/ @security-team
scripts/supply_chain/ @security-team

# Workflows
.github/workflows/ @platform-eng
